FET_WEB_SERVICE_PROXY/Web References/wsSimQuery/SimQuery.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PostPaidSimQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SimNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostPaidSimQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostPaidSimQueryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrePaidSimQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SimNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrePaidSimQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PrePaidSimQueryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PostPaidSimQuerySoapIn">
    <wsdl:part name="parameters" element="tns:PostPaidSimQuery" />
  </wsdl:message>
  <wsdl:message name="PostPaidSimQuerySoapOut">
    <wsdl:part name="parameters" element="tns:PostPaidSimQueryResponse" />
  </wsdl:message>
  <wsdl:message name="PrePaidSimQuerySoapIn">
    <wsdl:part name="parameters" element="tns:PrePaidSimQuery" />
  </wsdl:message>
  <wsdl:message name="PrePaidSimQuerySoapOut">
    <wsdl:part name="parameters" element="tns:PrePaidSimQueryResponse" />
  </wsdl:message>
  <wsdl:portType name="SimQuerySoap">
    <wsdl:operation name="PostPaidSimQuery">
      <wsdl:input message="tns:PostPaidSimQuerySoapIn" />
      <wsdl:output message="tns:PostPaidSimQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PrePaidSimQuery">
      <wsdl:input message="tns:PrePaidSimQuerySoapIn" />
      <wsdl:output message="tns:PrePaidSimQuerySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SimQuerySoap" type="tns:SimQuerySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PostPaidSimQuery">
      <soap:operation soapAction="http://tempuri.org/PostPaidSimQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrePaidSimQuery">
      <soap:operation soapAction="http://tempuri.org/PrePaidSimQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SimQuerySoap12" type="tns:SimQuerySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PostPaidSimQuery">
      <soap12:operation soapAction="http://tempuri.org/PostPaidSimQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrePaidSimQuery">
      <soap12:operation soapAction="http://tempuri.org/PrePaidSimQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SimQuery">
    <wsdl:port name="SimQuerySoap" binding="tns:SimQuerySoap">
      <soap:address location="http://localhost/SimQuery/SimQuery.asmx" />
    </wsdl:port>
    <wsdl:port name="SimQuerySoap12" binding="tns:SimQuerySoap12">
      <soap12:address location="http://localhost/SimQuery/SimQuery.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>